@media screen and (min-width:1300px) {
}

.blog-wrap {
  width: 100%;
}

.blog-bg {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.blog-index {
  display: flex;
  padding-top: 20px;
  padding-left: 0;
  margin-left: 30px;
}

.blog-index li {
  margin-right: 10px;
  font-size: 14px;
}

.blog-bg h3 {
  padding-top: 60px;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 0;
}

.blog-bg span {
  color: #a6c76c;
  font-size: 20px;
}

.article-container {
  width: 100%;
  padding: 0 30px;
}

.article-img {
  width: 100%;
}

.article-img img {
  width: 100%;
}

.blog-user-index {
  display: flex;
  padding: 10px 0 0 0;
}

.blog-user-index li {
  margin-right: 10px;
  color: #777;
  font-size: 14px;
}

.article-container h3 {
  font-size: 30px;
  color: #000;
  margin: 0;
}

.article-container p {
  font-size: 14px;
  color: #000;
  padding: 20px 0;
}

.article-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.more-furniture {
  width: 48%;
  text-align: left;
}

.more-furniture img {
  width: 100%;
}

.more-furniture p {
  font-size: 12px;
  margin: 0;
}

.blog-name-tag {
  display: flex;
  padding-top: 20px;
  padding-left: 0;
}

.blog-name-tag li {
  font-size: 15px;
  color: #767676;
  margin-right: 10px;
}

.tag-icon {
  margin-bottom: 2px;
  margin-right: 2px;
}

.blog-article {
  padding: 50px 0;
}

.blog-article h3 {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.blog-article p {
  font-size: 16px;
  color: #666;
}

.read-more {
  border: none;
  border-bottom: 2px solid #000;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
}

/*side*/
.blog-side-box h3 {
  font-size: 18px;
  padding-bottom: 10px;
}

.blog-side-box {
  position: relative;
  padding-bottom: 40px;
  width: 100%;
}

.blog-side-box input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  font-weight: 300;
  font-size: 15px;
}

.blog-side-box span {
  position: absolute;
  top: 10px;
  right: 10px;
}

.blog-search-icon {
  font-size: 20px;
  color: #666;
}

.blog-side-box table th {
  font-size: 18px;
  width: 100%;
  font-weight: 500;
  padding-bottom: 10px;
}

.blog-side-box table td {
  color: #666;
  padding-bottom: 10px;
  font-weight: 300;
}

.blog-side-box table td:hover {
  color: #a6c76c;
  transition: all 0.3s ease;
  cursor: pointer;
}

.blog-posts {
  padding: 0;
}

.blog-posts li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  height: 85px;
}

.blog-posts figure {
  width: 28%;
  height: 100%;
}

.blog-posts figure img {
  width: 100%;
  height: 100%;
}

.post-txt {
  width: 65%;
}

.post-txt h4 {
  color: #111;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  padding: 5px 0;
}

.post-txt h5 {
  font-size: 13px;
  color: #767676;
  font-weight: 300;
}

.blog-sub-box {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 30px;
}

.blog-sub-box h3 {
  font-size: 18px;
  width: 100%;
  padding-bottom: 10px;
}

.browse-tags {
  background-color: #eee;
  color: #666;
  padding: 5px 6px;
  font-size: 15px;
}